
<h1>My Watch List</h1>
<br>
<br>
{{!-- Watch list cards --}}
<h2>Movies</h2>
<div class="row">

  {{#each movies}}
  {{#if media_type}}

  
    <div class="col-md-3">
    <div class="card-group">
      <div class="card">
        <p><button data-id={{ id }} class="deleteBtn float-right">DELETE</button></p>
        <img src={{ poster }} alt="Poster">
        <div class="card-body">
          <h5 class="card-title">Original Title: {{ title }}</h5>
          <p class="card-text">Rating: {{ rating }}</p>
          <p class="card-text">Release Date: {{ date }}</p>
          <a target="_blank" href={{ stream_url }} class="card-link">Where this movie is currently streaming!</a>
        </div>
      </div>
    </div>
    </div>
    {{/if}}
    {{/each }}

  </div>

</div>
<br>
<br>

 <h2>Shows</h2>
<div class="row">
 
  {{#each movies}}
  {{#unless media_type}}

 
  <div class="col-md-3">
    <div class="card-group">
      <div class="card">
        <p><button data-id={{ id }} class="deleteBtn float-right">DELETE</button></p>
        <img src={{ poster }} alt="Poster">
        <div class="card-body">
          <h5 class="card-title">Original Title: {{ title }}</h5>
          <p class="card-text">Rating: {{ rating }}</p>
          <p class="card-text">Release Date: {{ date }}</p>
          <a target="_blank" href="{{ stream_url }}" class="card-link">Where this show is currently streaming!</a>
        </div>
      </div>
    </div>
    </div>
   

    {{/unless}}
    {{/each }}

  </div>

</div>
<br>
<br>
<br>